{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "loose": true,
    "externalHelpers": true
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": {
      "chrome": "80"
    },
    "mode": "usage",
    "coreJs": "3"
  },
  "minify": false,
  "isModule": true
}
